<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/login.css">
</head>
<body>
  <div class="container">
    <h1>Kahoot!</h1>
    <div class="log">
      <h1>Log in</h1>
      <form action="../login.php" method="post">
        <label class="form"><input type="text" name="email" placeholder="Email" class="form"></label><br />
        <label class="form"><input type="password" name="password" placeholder="Password" class="form"></label><br />
        <input id="submit" type="submit" value="submit">
      </form>
    </div>
    <div class="buttons">
      <!-- put ref of the pin screen inside -->
      <a id="intropin" href="">enter PIN</a>
    </div>
  </div>
</body>
</html>
