<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/newQuestion.css">
    <title>New Questions</title>
    <script src="../../public/js/newQuestion.js"></script>
</head>
<body>

    <div>
        <!-- <form action="../saveQuestion.php" method="post"> -->
        <form action="" method="post">
            <input type="text" name="text_question" placeholder="Enter your question">
            <select name="" id=""></select>
            <label><input type="radio" name="correct?" value="true">TRUE</label>
            <label><input type="radio" name="correct?" value="false">FALSE</label>
            <select name="time">
                <option value="10">10s</option>
                <option value="20">20s</option>
                <option value="30">30s</option>
                <option value="40">40s</option>
                <option value="50">50s</option>
                <option value="60">60s</option>
            </select>
            <select name="points">
                <option value="10">10 points</option>
                <option value="50">50 points</option>
                <option value="100">100 points</option>
                <option value="150">150 points</option>
                <option value="300">300 points</option>
                <option value="500">500 points</option>
                <option value="1000">1000 points</option>
            </select>
            <input type="submit" name="AddQuestion" value="AddQuestion" />
            <input type="submit" name="Done" value="Done" />
        </form>
    </div>
</body>
</html>
