body{
	margin: 0;
	padding: 0;
}
.header {
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration-style: solid;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;

}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
